// .wrap view{
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     flex-direction: column
//   }
  text:first-child{
    width: 300rpx;
  }
  text:last-child{  
    flex: 1;
  }

.tab_Header{
  width: 100%;
  display: flex;
  border-bottom: 1rpx solid #222;
  Text{
    width: 25%;
    text-align: center;
    align-items: center
  }
 
}



.title_head{
  width: 100%;
  display: flex;
  Text{
    width: 25%;
    text-align: center;
    align-items: center
  }
  .active{
    border-bottom: 1rpx solid rgb(40, 43, 241)
  }
}


.tab_cont{
  
View{
  display: none;
}
.company{
  display: flex;
  flex-direction: column;
  margin: 5rpx 0;
}
  .active{
    display: block; 
  }

}